@charset "UTF-8";
:root {
  --color-1: #142341;
  --color-2: #dadada;
  --brand-color-1: #19335A;
  --brand-color-2: #1F4F8E;
  --brand-color-3: #4E88BC;
  --brand-color-4: #3C8498;
  --brand-color-5: #5F6E8B;
}

@page {
  size: a4;
  page-break-after: always;
}
@font-face {
  font-family: "ChosunIlboMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

* html .png24 {
  tmp: expression(setPng24(this));
} /*스크립트 선언 후 사용*/
body {
  background: #dadada;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", sans-serif;
  line-height: 1;
  color: #000;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.a4-page {
  margin: 0 auto;
  width: 1000px;
  height: 1414px;
  background: white;
  padding: 31px 46px;
  overflow: hidden;
}
.a4-page + .a4-page {
  margin-top: 25px;
}

.content {
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

#cover {
  padding: 0;
  background: url("../img/cover.png") no-repeat center center;
  background-size: cover;
}
#cover .position {
  position: absolute;
  left: 0;
  width: 100%;
  top: 625px;
  text-align: center;
  font-family: "ChosunIlboMyungjo";
  font-size: 39.0625px;
  line-height: 1;
  color: #daba63;
  font-weight: bold;
}
#cover .employee {
  position: absolute;
  top: 859.375px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#cover .employee .wrapper div {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 19.53125px;
  line-height: 54.6875px;
  gap: 97.65625px;
}
#cover .employee .wrapper div strong {
  font-weight: 500;
}

#table-of-contents {
  padding: 0;
  background: url("../img/index.png") no-repeat center center;
  background-size: cover;
}
#table-of-contents .content {
  width: 100%;
}
#table-of-contents .wrapper {
  position: absolute;
  right: 0;
  width: 468.75px;
  top: 312.5px;
}
#table-of-contents .wrapper div:not(:first-child) {
  padding-top: 72.65625px;
  margin-top: 71.875px;
  border-top: 0.78125px solid rgba(26, 48, 75, 0.7);
}
#table-of-contents h2 {
  font-family: "ChosunIlboMyungjo";
  font-weight: 600;
  font-size: 35.15625px;
  color: #142341;
}
#table-of-contents h2 span {
  font-family: "Pretendard";
}

.menu-wrap ul {
  margin-top: 35.9375px;
}
.menu-wrap ul li {
  display: flex;
  gap: 10.9375px;
  line-height: 27.34375px;
  font-size: 23.4375px;
  color: rgb(0, 0, 0);
}
.menu-wrap ul li span {
  color: rgba(0, 0, 0, 0.6);
}
.menu-wrap ul li .num {
  width: 28px;
}
.menu-wrap ul li + li {
  margin-top: 11.71875px;
}

#divider {
  background: url("../img/divider.png") no-repeat center center;
  background-size: cover;
}
#divider .divider-title {
  position: absolute;
  left: 0;
  top: 271.875px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "ChosunIlboMyungjo";
  color: rgb(218, 186, 99);
  font-size: 117.1875px;
  gap: 70.3125px;
}
#divider .divider-title span {
  font-family: "ChosunIlboMyungjo";
  font-weight: 400;
}
#divider .divider-title strong {
  font-size: 62.5px;
}
#divider .menu-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  top: 796.875px;
  display: flex;
  justify-content: center;
}
#divider .menu-wrap li {
  font-size: 31.25px;
}
#divider .menu-wrap li .num {
  width: 37px;
}
#divider .menu-wrap li + li {
  margin-top: 31.25px;
}

#end {
  padding: 0;
  background: url("../img/end.png") no-repeat center center;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 0.390625px solid rgba(20, 35, 65, 0.6);
  border-top: 1.171875px solid rgb(20, 35, 65);
}

.header-left h1 {
  font-size: 16px;
  font-weight: 500;
}
.header-left h1 em {
  font-style: normal;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}
.header-left h1 em::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 1px;
  bottom: 2px;
  background: #000;
}

.header-nav {
  display: flex;
}

.nav-item {
  padding: 0 31px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
}
.nav-item + .nav-item {
  border-left: 0.78125px solid rgba(20, 35, 65, 0.6);
}
.nav-item span {
  font-family: "ChosunIlboMyungjo";
  font-size: 18px;
  padding-right: 3.90625px;
}
.nav-item.active {
  color: rgb(20, 35, 65);
  font-weight: 500;
  background: rgb(232, 233, 236);
}

.main-title {
  margin-top: 58.59375px;
  font-size: 31.25px;
  font-weight: 600;
  margin-bottom: 50.78125px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 23.4375px;
  margin-bottom: 15.625px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section {
  margin-bottom: 23.4375px;
}

.section-text {
  font-size: 10.9375px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 11.71875px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 10.15625px;
  border: 0.78125px solid #ebebeb;
  margin-bottom: 15.625px;
}

.table th,
.table td {
  border: 0.78125px solid #ebebeb;
  padding: 7.8125px 6.25px;
  text-align: center;
  vertical-align: middle;
}

.table thead th {
  background: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.table tbody td {
  background: white;
}

.card {
  background: #f8f9fa;
  border: 0.78125px solid #ddd;
  border-radius: 6.25px;
  padding: 15.625px;
  margin-bottom: 15.625px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11.71875px;
}

.card-title {
  font-size: 12.5px;
  font-weight: bold;
  color: #333;
}

.card-content {
  font-size: 10.9375px;
  color: #555;
  line-height: 1.5;
}

.summary-title-bar {
  background: rgb(20, 35, 65);
  height: 39.0625px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15.625px;
  font-weight: 700;
  color: #fff;
}

.summary-content-text {
  background: rgb(235, 235, 235);
  text-align: center;
  font-weight: 500;
  font-size: 15.625px;
  line-height: 21.875px;
  height: 98.4375px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1-1 {
  margin-bottom: 39.0625px;
}
.section-1-1 .text-content {
  font-size: 17.1875px;
  line-height: 23.4375px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15.625px 23.4375px;
}

.a4-page {
  position: relative;
}

.footer-num {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #eee;
  height: 33.59375px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.28125px;
  font-weight: 500;
  color: rgb(20, 35, 65);
}

.model-header {
  background-color: var(--color-1);
  color: #fff;
  height: 31.25px;
  display: flex;
}
.model-header span {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18.75px;
}
.model-header span:nth-child(1) {
  padding-left: 126.5625px;
}
.model-header span:nth-child(2) {
  padding-left: 171.875px;
}
.model-header span:nth-child(3) {
  padding-left: 250px;
}

.model-tables {
  display: flex;
  margin-top: 14.0625px;
}
.model-tables-color2 {
  background: rgb(235, 235, 235);
}
.model-tables .l {
  width: 54.6875px;
  background: rgb(20, 35, 65);
  border-radius: 1.5625px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15.625px;
  font-weight: 500;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.model-tables .r {
  flex: 1;
}
.model-tables .r-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6.25px;
}
.model-tables .r-row + .r-row {
  margin-top: 14.0625px;
  padding-top: 14.0625px;
  border-top: 0.78125px dashed rgba(0, 0, 0, 0.5);
}
.model-tables .r-row div {
  height: 148.4375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 18.75px;
  font-weight: 500;
  line-height: 25.78125px;
}

div.color1 {
  background: rgb(25, 51, 90);
  color: #fff;
}
div.color2 {
  background: rgba(25, 51, 90, 0.2);
}
div.color3 {
  background: RGB(31, 79, 142);
  color: #fff;
}
div.color4 {
  background: rgba(105, 122, 152, 0.2);
}
div.color5 {
  background: #4E88BC;
  color: #fff;
}
div.color6 {
  background: rgba(70, 117, 192, 0.2);
}
div.color7 {
  background: #388296;
  color: #fff;
}
div.color8 {
  background: rgba(138, 192, 215, 0.2);
}
div.color9 {
  background: #5F6E8B;
  color: #fff;
}
div.color10 {
  background: rgba(126, 184, 219, 0.2);
}

.competency-group {
  padding: 6.25px 9.375px;
  background: #f8f9fa;
  font-weight: bold;
  color: #333;
  border: 0.78125px solid #ebebeb;
  text-align: center;
  vertical-align: middle;
}

.competency {
  padding: 4.6875px 7.8125px;
  background: white;
  color: #555;
  border: 0.78125px solid #ebebeb;
  text-align: center;
  vertical-align: middle;
}

.sub-competency {
  padding: 3.125px 6.25px;
  background: #fafafa;
  color: #666;
  border: 0.78125px solid #ebebeb;
  text-align: center;
  vertical-align: middle;
  font-size: 9.375px;
}

.table-header-2 {
  display: flex;
  padding-bottom: 15.625px;
  font-weight: 500;
  font-size: 18.75px;
  padding-top: 46.875px;
}
.table-header-2 .col-left {
  text-align: center;
  flex: 1;
}
.table-header-2 .col-right {
  text-align: center;
  width: 468.75px;
}

.competency-row-group {
  display: flex;
  height: 203.125px;
}
.competency-row-group + .competency-row-group {
  margin-top: 5.46875px;
}

.competency-name {
  width: 136.71875px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18.75px;
  font-weight: 700;
  border-radius: 80px 0 0 80px;
  text-align: center;
  line-height: 1.24;
}

.competency-definition {
  background: rgb(235, 235, 235);
  display: flex;
  width: 287.5px;
  align-items: center;
  padding-left: 15.625px;
  padding-right: 39.0625px;
  font-size: 17.1875px;
  font-weight: 500;
  line-height: 23.4375px;
}

.sub-competency-item-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 15.625px 23.4375px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
}

.sub-competency-item {
  padding-left: 13.28125px;
  position: relative;
}
.sub-competency-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 7.8125px;
  width: 6.25px;
  height: 6.25px;
  background: rgb(124, 124, 124);
  border-radius: 50%;
  display: block;
}
.sub-competency-item .sub-competency-name {
  font-size: 18.75px;
  font-weight: 500;
  line-height: 25.78125px;
}
.sub-competency-item .sub-competency-definition {
  font-size: 15.625px;
  line-height: 21.875px;
}
.sub-competency-item + .sub-competency-item {
  margin-top: 10.9375px;
}

.section-guide {
  margin-bottom: 46.875px;
}

.page-info {
  font-weight: 500;
  font-size: 12.5px;
}

.guide-table thead th {
  font-size: 15.625px;
  font-weight: 500;
  color: #fff;
  padding: 15.625px 0;
  text-align: center;
  background: #142341;
}
.guide-table tbody {
  text-align: center;
}
.guide-table tbody td {
  height: 54.6875px;
  border-bottom: 0.78125px solid #ebebeb;
  font-size: 15.625px;
  line-height: 20.3125px;
  font-weight: 500;
}
.guide-table tbody .label-cell {
  text-align: center;
}
.guide-table tbody .description-cell {
  padding-left: 34.375px;
  border-left: 0.78125px solid #ebebeb;
  text-align: left;
}

.classification-table thead th {
  font-size: 14.0625px;
  padding: 7.8125px 0;
}
.classification-table tbody td:not(:first-child) {
  border-left: 0.78125px solid #ebebeb;
}

.matrix-table thead th {
  font-size: 12.5px;
  line-height: 1.24;
}
.matrix-table td {
  line-height: 1.24;
  font-size: 14.0625px;
  height: 42.1875px;
}
.matrix-table td:not(:first-child) {
  border-left: 0.78125px solid #ebebeb;
}

.priority-table tbody td:not(:first-child) {
  border-left: 0.78125px solid #ebebeb;
}

.section-summary {
  margin-bottom: 39.0625px;
}
.section-summary p {
  line-height: 1.24;
}

.summary-text {
  font-size: 15.625px;
  line-height: 21.875px;
}

.radar-chart-container {
  text-align: center;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 15.625px;
}

.data-table-container {
  margin-bottom: 31.25px;
}

.diagnosis-data-table.thead-lg th {
  height: 70.3125px;
}

.diagnosis-data-table th {
  height: 62.5px;
  background-color: var(--color-1);
  color: #fff;
  font-size: 14.0625px;
  line-height: 14.0625px;
  font-weight: 500;
  line-height: 20.3125px;
}

.diagnosis-data-table th,
.diagnosis-data-table td {
  text-align: center;
  border-bottom: 0.78125px solid #ebebeb;
}
.diagnosis-data-table th:not(:first-child),
.diagnosis-data-table td:not(:first-child) {
  border-left: 0.78125px solid #ebebeb;
}

.diagnosis-data-table td {
  height: 54.6875px;
}

.diagnosis-data-table tfoot td {
  background-color: var(--color-2);
  font-weight: bold;
  color: #333;
}

.diagnosis-data-table.sm th {
  height: 31.25px;
}
.diagnosis-data-table.sm td {
  height: 26.5625px;
}
.diagnosis-data-table.sm td:first-child {
  border-left: 0.78125px solid #ebebeb;
}
.diagnosis-data-table.sm .border-left {
  border-left: 0 !important;
}
.diagnosis-data-table.sm .average-row {
  background: rgb(235, 235, 235);
}

.bottom-summary-box {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
}
.bottom-summary-box .summary-text-title {
  font-size: 15.625px;
  font-weight: 700;
  text-align: center;
  text-align: center;
  color: #fff;
  background: rgb(25, 51, 90);
  padding: 10px 0;
}
.bottom-summary-box .description {
  margin: 0;
  font-size: 14.0625px;
  border: 0.78125px solid #ddd;
  border-top: 0;
  line-height: 1.34;
  padding: 15.625px;
  text-align: justify;
  color: #555;
  font-weight: 500;
}

.section-detail {
  margin-bottom: 23.4375px;
}

.detail-text p {
  margin-bottom: 9.375px;
  font-size: 10.9375px;
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

.chart-container {
  text-align: center;
  margin-bottom: 31.25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.chart-container::after {
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
}

.chart-placeholder {
  width: 100%;
  height: 273.4375px;
  border: 0.78125px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.chart-legend {
  display: flex;
  gap: 15.625px;
  margin-top: 15.625px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6.25px;
  font-size: 10.9375px;
  color: #333;
}

.legend-color {
  width: 12.5px;
  height: 12.5px;
  border-radius: 1.5625px;
}
.legend-color.blue {
  background-color: #3b82f6;
}
.legend-color.pink {
  background-color: #ec4899;
}

.section-subjective {
  margin-bottom: 23.4375px;
}
.section-subjective .section-subtitle {
  font-size: 20px;
}

.question-text {
  margin-bottom: 31.25px;
}
.question-text p {
  font-size: 23.4375px;
  font-weight: 500;
  line-height: 1.2;
}

.response-list {
  padding: 15.625px 23.4375px;
  border: 0.78125px solid rgba(0, 0, 0, 0.3);
  height: 1020px;
}
.response-list ul li {
  position: relative;
  padding-left: 15.625px;
  margin-bottom: 9.375px;
  font-size: 15.625px;
  line-height: 21.875px;
}
.response-list ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5.46875px;
  background-color: #000;
  width: 4.6875px;
  height: 4.6875px;
  border-radius: 50%;
  display: block;
}

.competency-chart {
  padding: 18.75px 15.625px;
  border-radius: 3.90625px;
  margin-bottom: 15.625px;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19.53125px;
}

.competency-title {
  font-size: 18.75px;
  font-weight: 700;
}

.diagnosis-result {
  font-size: 14.0625px;
  text-align: right;
  line-height: 1.2;
}
.diagnosis-result b {
  color: #000;
}

.chart-body {
  display: flex;
  flex-direction: column;
  gap: 11.71875px;
}

.score-details {
  display: flex;
  flex-direction: column;
  gap: 3.90625px;
  align-self: flex-end;
}

.horizontal-scale {
  display: flex;
  flex-direction: column;
  position: relative;
}

.me-score {
  position: absolute;
  left: calc(50% + 39.0625px);
  transform: translateY(-50%);
  top: 0;
  text-align: center;
}
.me-score .me-score-value {
  font-size: 14.0625px;
  color: rgb(31, 79, 142);
  font-weight: 700;
}
.me-score .me-score-icon {
  width: 35.9375px;
  height: 35.9375px;
  background: url("../img/symbols.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scale-labels {
  display: flex;
  justify-content: space-between;
}

.scale-label {
  font-size: 9.375px;
  color: #666;
}

.scale-values {
  display: flex;
  justify-content: space-between;
}

.scale-value {
  color: #000;
  font-size: 10.9375px;
}

.scale-bar {
  position: relative;
  height: 1.5625px;
  background: rgb(49, 53, 72);
  margin: 15.625px 0 7.8125px;
}
.scale-bar::before, .scale-bar::after {
  content: "";
  background: url("../img/cir.png") no-repeat 50% 50%;
  background-size: cover;
  width: 8.59375px;
  height: 8.59375px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.scale-bar::before {
  left: 0;
}
.scale-bar::after {
  right: 0;
}
.scale-bar .scale-line {
  width: 1.5625px;
  height: 8.59375px;
  position: absolute;
  top: 50%;
  background: rgb(49, 53, 72);
  left: 50%;
  transform: translate(-50%, -50%);
}

.scale-label {
  font-size: 10.9375px;
  color: #000;
}

.matrix-section {
  display: flex;
  flex-direction: column;
  gap: 23.4375px;
}

.matrix-container {
  display: flex;
  gap: 15.625px;
  align-items: flex-start;
}

.matrix-chart .chart-title {
  font-size: 15.625px;
  font-weight: 700;
  margin-bottom: 7.8125px;
}

.scatter-plot {
  position: relative;
  width: 385.9375px;
  height: 371.09375px;
  background: url("../img/chart1.png") no-repeat center center;
  background-size: cover;
}
.scatter-plot.v2 {
  background-image: url("../img/chart2.png");
}
.scatter-plot.v2 .data-points .line {
  background-color: #84d7a9;
}
.scatter-plot.v2 .data-points .sign {
  background-color: #84d7a9;
}
.scatter-plot.v2 .data-points .data-zone {
  background-color: #f3fbf6;
}

.data-points {
  padding: 2px 0 0 51.5625px;
}
.data-points .data-zone {
  border: 1px solid #686667;
  position: relative;
  width: 330px;
  height: 330px;
  background-color: #ebf4fa;
}
.data-points .line,
.data-points .average-value,
.data-points .sign {
  position: absolute;
}
.data-points .line {
  background-color: #72aae9;
}
.data-points .line-1 {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
}
.data-points .line-2 {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
}
.data-points .average-value {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.data-points .average-value.values-y {
  left: -15px;
}
.data-points .average-value.values-x {
  bottom: -17px;
}
.data-points .sign {
  width: 23px;
  height: 23px;
  background: #72aae9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-points .sign-1 {
  right: 5px;
  top: 5px;
}
.data-points .sign-2 {
  left: 5px;
  top: 5px;
}
.data-points .sign-3 {
  left: 5px;
  bottom: 5px;
}
.data-points .sign-4 {
  right: 5px;
  bottom: 5px;
}
.data-points .face {
  position: absolute;
  width: 50%;
  height: 50%;
}
.data-points .face-1 {
  top: 0;
  left: 0;
}
.data-points .face-2 {
  top: 0;
  right: 0;
}
.data-points .face-3 {
  bottom: 0;
  left: 0;
}
.data-points .face-4 {
  bottom: 0;
  right: 0;
}
.data-points .data-point {
  position: absolute;
  border-radius: 50%;
  width: 23.4375px;
  height: 23.4375px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14.0625px;
}
.data-points .data-point.blue {
  background: #142341;
}
.data-points .data-point.green {
  background: #28a745;
}
.data-points .data-point.star {
  mask-image: url(../img/diamond.svg);
  -webkit-mask-image: url(../img/diamond.svg);
  mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
  width: 35px;
  height: 35px;
}
.data-points .data-point.star.blue {
  background-color: #142341;
}
.data-points .data-point.star.green {
  background-color: #28a745;
}
.data-points .data-point.square {
  border-radius: 0;
}

.matrix-table {
  flex: 1;
  min-width: 234.375px;
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 9.375px;
  border: 0.78125px solid #ebebeb;
}
.comparison-table .average-row td {
  background: rgb(235, 235, 235);
  font-weight: bold;
}

.comparison-table th,
.comparison-table td {
  border: 0.78125px solid #ebebeb;
  padding: 6.25px 4.6875px;
  text-align: center;
}

.comparison-table thead th {
  background: #142341;
  color: white;
  font-weight: bold;
}

.comparison-table tbody td {
  background: white;
}

.comparison-table .category-bg {
  background-color: #e3f2fd;
}

.comparison-table .average-row {
  background-color: #f5f5f5;
  font-weight: bold;
}

.section-capability-analysis {
  margin-bottom: 31.25px;
}

.capability-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
}

.capability-icon {
  font-size: 25px;
  margin-bottom: 7.8125px;
}

.capability-label {
  background: rgba(20, 35, 65, 0.8);
  border-radius: 39.0625px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 17.1875px;
  font-weight: 500;
  height: 39.0625px;
  font-weight: 500;
}

.capability-name-box {
  height: 170px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.8125px;
  margin: 14.0625px 0 18.75px;
}
.capability-name-box.bd1 {
  border: 1px solid var(--brand-color-1);
}
.capability-name-box.bd2 {
  border: 1px solid var(--brand-color-2);
}
.capability-name-box.bd3 {
  border: 1px solid var(--brand-color-3);
}
.capability-name-box.bd4 {
  border: 1px solid var(--brand-color-4);
}
.capability-name-box.bd5 {
  border: 1px solid var(--brand-color-5);
}

.capability-name {
  font-size: 15.625px;
}

.capability-description {
  text-align: center;
  font-size: 13px;
  line-height: 17.1875px;
}

.section-feedback {
  margin-bottom: 23.4375px;
}

.feedback-list {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.feedback-item {
  display: flex;
  align-items: center;
  gap: 70.3125px;
}
.feedback-item + .feedback-item {
  margin-top: 7.8125px;
  padding-top: 7.8125px;
  border-top: 0.78125px solid #ebebeb;
}

.feedback-header {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 2.34375px;
  width: 105px;
  height: 105px;
  flex-shrink: 0;
  border-radius: 50%;
}
.feedback-header.bd1 {
  border: 1px solid var(--brand-color-1);
}
.feedback-header.bd2 {
  border: 1px solid var(--brand-color-2);
}
.feedback-header.bd3 {
  border: 1px solid var(--brand-color-3);
}
.feedback-header.bd4 {
  border: 1px solid var(--brand-color-4);
}
.feedback-header.bd5 {
  border: 1px solid var(--brand-color-5);
}

.feedback-icon {
  font-size: 18.75px;
}

.feedback-title {
  font-size: 12.5px;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

.feedback-score {
  position: absolute;
  right: 0;
  top: 50%;
  border-radius: 2.34375px;
  width: 37.5px;
  height: 21.875px;
  font-size: 12.5px;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.feedback-score.bd1 {
  border: 0.78125px solid rgb(177, 208, 238);
}
.feedback-score.bd2 {
  border: 0.78125px solid rgb(163, 239, 224);
}
.feedback-score.bd3 {
  border: 0.78125px solid rgb(233, 224, 240);
}
.feedback-score.bd4 {
  border: 0.78125px solid rgb(212, 237, 244);
}
.feedback-score.bd5 {
  border: 0.78125px solid rgb(221, 218, 194);
}

.feedback-text {
  font-size: 14.0625px;
  line-height: 21.875px;
  padding-left: 15.625px;
  position: relative;
}
.feedback-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7.8125px;
  width: 3.90625px;
  height: 3.90625px;
  border-radius: 50%;
  background-color: #000;
  display: block;
}

.note-text {
  font-size: 12.5px;
  color: #525252;
  margin-top: 3.90625px;
  line-height: 21.875px;
}
.note-text.v2 {
  margin-bottom: 10px;
  text-align: right;
}

.education-program-table th {
  background: #142341;
  color: #fff;
  font-weight: 500;
  font-size: 15.625px;
  padding: 9.375px 6.25px;
  height: 54.6875px;
}
.education-program-table td {
  height: 52.34375px;
  text-align: center;
  font-size: 15.625px;
  line-height: 18.75px;
  border-bottom: 0.78125px solid #ebebeb;
}
.education-program-table tbody tr:nth-child(even) {
  background: #f8f9fa;
}
.education-program-table tbody tr:nth-child(odd) {
  background: white;
}

.detail-button {
  background: #dadada;
  color: #142341;
  border: none;
  padding: 4.6875px 9.375px;
  border-radius: 3.125px;
  font-size: 14.0625px;
  font-weight: bold;
  cursor: pointer;
}

.detailed-diagnosis-table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}
.detailed-diagnosis-table th,
.detailed-diagnosis-table td {
  border: 0.78125px solid #ccc;
  padding: 3.90625px;
  text-align: center;
  line-height: 1.34;
}
.detailed-diagnosis-table th.text-left,
.detailed-diagnosis-table td.text-left {
  text-align: left;
  padding-left: 7.8125px;
}
.detailed-diagnosis-table .header-bg {
  background-color: #142341;
  color: white;
}
.detailed-diagnosis-table .header-bg th {
  font-size: 13.28125px;
}
.detailed-diagnosis-table .category-bg {
  background-color: #f0f0f0;
}
.detailed-diagnosis-table .vt {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.detailed-diagnosis-table .average-row {
  background-color: #dadada;
  font-weight: bold;
}
.detailed-diagnosis-table .average-row2 {
  background-color: #b1b1b1;
  font-weight: bold;
}
.detailed-diagnosis-table td:nth-child(9),
.detailed-diagnosis-table td:nth-child(10) {
  font-weight: bold;
}
.detailed-diagnosis-table td:nth-child(9):contains("-"),
.detailed-diagnosis-table td:nth-child(10):contains("-") {
  color: #dc3545;
}
.detailed-diagnosis-table td:nth-child(9):not(:contains("-")),
.detailed-diagnosis-table td:nth-child(10):not(:contains("-")) {
  color: #28a745;
}

#end {
  background-color: #142341;
}
#end .copyright {
  text-align: center;
  color: #fff;
  font-family: "ChosunIlboMyungjo";
  color: #daba63;
  font-size: 20.3125px;
  font-weight: 700;
}
#end .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 39.0625px;
}

/* 인쇄용 */
@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .a4-page {
    page-break-after: always;
  }
  .a4-page + .a4-page {
    margin-top: 0;
  }
}/*# sourceMappingURL=style_scaled.css.map */